<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' type='text/css' media='screen' href="/css/style.css" />
    <link rel='stylesheet' type='text/css' media='screen' href="/css/styleRejestracja.css" />
    <link rel='stylesheet' type='text/css' media='screen' href="/css/styleIndex.css" />
    <title><%= pageTitle %></title>
</head>

<% include ../partials/page-start %>
    <main>
        <fieldset>
            <legend>Wszyscy producenci</legend>

            <% producersList.forEach(function(producer){ %>

            <div class="itemProduct">
                <div class="itemDescribe">
                    <label class="name"><%= producer.Name %> | </label>
                    <label class="country"><%= producer.Country %> | </label>
                    <label class="dateOfStart"><%= producer.Founded_Date %> | </label>
                    <label class="owner"><%= producer.Owner %></label>
                </div>
                <div class="productAction">
                    <button class="details" onclick="location.href='/producers/showEditForm?producer_id=<%= producer.IdProducer %>'">Edytuj</button>
                    <button class="posts" onclick="location.href='/producers/delete?producer_id=<%= producer.IdProducer %>'">Usuń</button>
                </div>
            </div>
            <hr />
            <% }) %>

        </fieldset>
    </main>
<% include ../partials/page-end %>