<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" media='screen' href="/css/style.css" />
    <link rel="stylesheet" media='screen' href="/css/styleEdycjaProdukt.css" />
    <script type="text/javascript" src="/js/nowyProducerValidator.js"></script>
    <title><%= pageTitle %></title>
</head>

<% include ../partials/page-start %>

    <main>
        <div class="errorsSpace">
            <label class="errors" id="errors"></label>
        </div>
        <form name="myForm"  action="/producers/<%= formAction %>"  method="post" onsubmit="return validateForm()">
            <div class="container">

                <label for="name"><b>Nazwa</b></label>
                <input type="text" name="name" <%= formAction ? 'add' : '' %>
                value="<%= producer.Name %>"></input>

                <label for="country"><b>Kraj</b></label>
                <input type="text" name="country" <%= formAction ? 'add' : '' %>
                value="<%= producer.Country %>"></input>

                <label for="dateOfStart"><b>Data założenia</b></label>
                <input type="text" name="dateOfStart" <%= formAction ? 'add' : '' %>
                value="<%= producer.Founded_Date %>"></input>

                <label for="owner"><b>Założyciel</b></label>
                <input type="text" name="owner"<%= formAction ? 'add' : '' %>
                value="<%= producer.Owner %>"></input>

                 <% if( formAction == 'edit') { %>
                 <input type="hidden" name="producer_id" value="<%= producer.IdProducer %>"></input>
                <% } %>
                <button type="submit" class="submit" onclick="validateForm()"><% if( formAction == 'edit') { %> Edytuj <% } else { %> Dodaj <% } %></button>
                <button type="reset" class="resetbtn">Reset</button>
            </div>
        </form>
    </main>

  <% include ../partials/page-end %>
