<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/stylePost.css" />
    <script type="text/javascript" src="/js/newProductPostValidator.js"></script>
    <title><%= pageTitle %></title>
</head>

<% include ../partials/page-start %>

    <main>
        <div class="detailsTop">
            <div class="detailsInfo">

                <hr />
                <h4>SZCZEGÓŁY</h4>
                <b>Nazwa: </b><label class="Nazwa"><%= product.name %></label> <br />
                <b>Moc: </b><label class="Moc"><%= product.value %>%</label> <br />
                <b>Pojemność: </b><label class="Pojemnosc"><%= product.capacity %>L</label> <br />
                <b>Ocena: </b><label class="Ocena"><%= product.rate %>/10</label> <br />

                <br />
                <hr />
                <h4>PRODUCENT</h4>

                 <% if (typeof product.producer != 'undefined') { %>
                    <b>Nazwa: </b><label class="NazwaProducent"><%= product.producer.name %></label> <br />
                    <b>Kraj: </b><label class="KrajProducent"><%= product.producer.country %><br />
                    <b>Data założenia: </b><label class="DataProducent"><%= product.producer.dateOfStart %></label> <br />
                    <b>Właściciel: </b><label class="WlascicielProducent"><%= product.producer.owner %></label> <br />
                 <% } else { %>
                    <b>Nazwa: </b><label class="NazwaProducent">N/A</label> <br />
                    <b>Kraj: </b><label class="KrajProducent">N/A<br />
                    <b>Data założenia: </b><label class="DataProducent">N/A</label> <br />
                    <b>Właściciel: </b><label class="WlascicielProducent">N/A</label> <br />
                 <% } %>

            </div>
            <img src="<%= product.picturePath %>" />

            <div class="addPost">
                <form name="myForm"  action="/posts/<%= formAction %>"  method="post" onsubmit="return validateForm()">
                    <input type="hidden" name="product_id" value="<%= product.id %>"></input>
                    <fieldset>
                        <legend>Nowy Post</legend>
                        <input type="text" class="inputPost" name="inputPost">
                    </fieldset>
                    <div class="actionButtons">
                        <button type="submit" class="DodajPostButton" onclick="validateForm()">Dodaj</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="Posts">
            <fieldset>
                <legend>Posts</legend>

                <% postsList.forEach(function(post){ %>
                    <div class="itemPost">
                        <div class="postInfo">
                            <img src="<%= post.user.picturePath %>">
                            <div class="postDescribe">
                                <label class="text"><i><%= post.text %><i></label><br> </label><br>
                                <label class="author"><%= post.user.firstName %> <%= post.user.lastName %></label>
                            </div>
                        </div>
                    </div>
                    <hr />
                <% }) %>

            </fieldset>
        </div>
    </main>

   <% include ../partials/page-end %>