<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' type='text/css' media='screen' href="/css/style.css" />
    <link rel='stylesheet' type='text/css' media='screen' href="/css/styleRejestracja.css" />
    <link rel='stylesheet' type='text/css' media='screen' href="/css/styleIndex.css" />
    <title>Home</title>
</head>

<% include ../partials/page-start %>
    <main>
        <h2> Blended Whisky</h2>
        <fieldset>
            <legend>Wszystkie produkty</legend>


            <% for(var i = 0; i < productsList.length; i++){ %>

            <div class="itemProduct">
                <img src="<%= productsList[i].Picture %>">
                <div class="itemDescribe">
                    <label class="name"><%= productsList[i].Name %></label>
                    <label>/</label>
                    <label class="value"><%= productsList[i].Volume %>%</label>
                    <label>/</label>
                    <label class="capcity"><%= productsList[i].Capacity %>L</label>
                    <label>/</label>
                    <label class="price"><%= productsList[i].Price %>zł</label>
                </div>
                <div class="productAction">
                    <button class="details" onclick="location.href='/products/showDetails?product_id=<%= productsList[i].IdProduct %>'">Szczegóły</button>
                    <button class="posts" onclick="location.href='/posts/showProductPosts?product_id=<%= productsList[i].IdProduct %>'">Posty</button>
                </div>
            </div>
            <hr />
            <% } %>

        </fieldset>
    </main>

<% include ../partials/page-end %>