<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' type='text/css' media='screen' href="/css/style.css" />
    <link rel='stylesheet' type='text/css' media='screen' href="/css/styleRejestracja.css" />
    <link rel='stylesheet' type='text/css' media='screen' href="/css/styleIndex.css" />
    <title>Home</title>
</head>

<% include ../partials/page-start %>
    <main>
        <h2> Blended Whisky</h2>
        <fieldset>
            <legend>Wszystkie produkty</legend>

            <% productsList.forEach(function(product){ %>

            <div class="itemProduct">
                <img src="<%= product.picturePath %>">
                <div class="itemDescribe">
                    <label class="name"><%= product.name %></label>
                    <label>/</label>
                    <label class="value"><%= product.value %>%</label>
                    <label>/</label>
                    <label class="capcity"><%= product.capacity %>L</label>
                    <label>/</label>
                    <label class="price"><%= product.price %>zł</label>
                </div>
                <div class="productAction">
                    <button class="details" onclick="location.href='/products/showDetails?product_id=<%= product.id %>'">Szczegóły</button>
                    <button class="posts" onclick="location.href='/posts/showProductPosts?product_id=<%= product.id %>'">Posty</button>
                </div>
            </div>
            <hr />
            <% }) %>

        </fieldset>
    </main>

<% include ../partials/page-end %>